
*{
    margin: 0;
    padding: 0;
    
}
body, html {
    
    
    background-image: url("body.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.margin{
    padding-top: 90px;
    padding-bottom: 90px;

}

#list{
padding-left: 30px;
}
.container {
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;   
    padding-bottom: 20px;
    width: 420px;
    background: white;
    overflow: auto;

    
}


.display {
    margin: auto;
    width: 420;
    height: 60px;
    padding: 50px 0;
    background: #AE3B62;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    font-size: 60px;
    color: #fff;
    text-align: center;
    font-weight: 700;
}


.buttons {
    padding: 20px 20px 0 0;
}
.row {
    width: 380px;
    float: right;
    padding-top: 10px;
    margin-bottom: 15px;

    

}
input[type=button] {
    margin-left: 5px;
    width: 180px;
    height: 60px;
    box-sizing: border-box;
    background: #ecedef;
    border: none;
    font-size: 30px;
    line-height: 30px;
    border-radius: 15%;
    font-weight: 700;
    color: blue;
    cursor: pointer;
    box-shadow: 0 14px 14px 0 rgba(76, 12, 228, 0.2), 0 6px 20px 0 rgba(61, 27, 211, 0.2);
    outline: none;

    
}
input[type=text] {
    width: 370px;
    height: 60px;
    float: left;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background: none;
    color: #AE3B62;
    text-align: left;
    font-size: 50px;
    line-height: 60px;
    margin: 0 25px;
    
}
.red {
    background: #AE3B62 !important;
    color: #ffffff !important;
    
}

.btn{
height: 25px;
width: 25px;

}

ul{
    font-size: 25px;
    font-weight: bold;
    list-style-type: square;
}


li{
    padding-top: 20px;
    color:#AE3B62
    
}

li>img{
    float: right;

}
